<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/dashboard">Skill Tracker</a></li>
            <li><a href="/my-skills">My Skills</a></li>
            <li><a href="/skills">Discover</a></li>            
            <li><a href="#" id="toggle-theme">🌓</a></li>
        </ul>
    </nav>
    <main>
        <section class="welcome">
            <p>Welcome back user</p>
            <button>Resume Learning</button>
        </section>
        <section class="skills" id="recentSkillsContainer">
           
          </section>
          
        <div class="actions">
            <button>Add new Skill</button>
            <a href="/skills"><button>Skill List</button></a>
        </div>        
    </main>
    <footer>
        <p>&copy; 2025 Skill Tracker. Stay curious and always learn!</p>
        <p>Justus Schoppmann </p>
      </footer>
    <div id="addSkillModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Create New Skill</h2>
            <form id="skillForm">
                <input type="text" id="skillName" placeholder="Skill name" required>
                <input type="text" id="skillCategory" placeholder="Skill category">
                <input type="text" id="skillIcon" placeholder="Icon URL">
                <button type="submit">Add Skill</button>
            </form>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>

    <script src="/js/skills.js"></script>
    <script src="/js/themeToggle.js"></script>

</body>
</html>
