<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Skills</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/dashboard">Skill Tracker</a></li>
      <li><a href="/my-skills">My Skills</a></li>
      <li><a href="/skills">Discover</a></li>
      <li><a href="#" id="toggle-theme">🌓</a></li>
    </ul>
  </nav>

  <main>
    <h1>My Skills</h1>
    <div id="mySkillsContainer" class="skills"></div>
  </main>

  <footer>
    <p>&copy; 2025 Skill Tracker. Stay curious and always learn!</p>
    <p>Justus Schoppmann </p>
  </footer>

  <script src="/js/mySkills.js"></script>
  <script src="/js/themeToggle.js"></script>
</body>
</html>
